@import 'styles';

#hero {
  align-items: center;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  height: 500px;

  .hero-content-wrapper {
    color: #fff;
    width: 50%;

    .typed-wrapper {
      height: 50px;
    }

    h2,
    span {
      font-family: $heading-font;
      font-size: 32pt;
    }

    h2 {
      margin: 0;
    }

    p {
      font-size: 18pt;
    }
  }
}
