@import 'styles';

#info {
  border-bottom: 1px gray solid;

  h1 {
    font-size: 36pt;
    text-align: center;
  }

  hr {
    width: 50%;
  }

  .info-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;

    &:last-of-type {
      margin-bottom: 30px;
    }

    .btn {
      font-size: 18pt;
      padding: 20px;
    }
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .info-content {
    width: 40%;

    h2 {
      color: $dark-blue;
    }
  }

  .info-pic {
    text-align: center;
    width: 40%;

    .info-pic-style {
      height: 300px;
    }
  }
}
