@import 'universals';

@media only screen and (max-width: 500px) {
    #hero {
        .hero-content-wrapper {
            .typed-wrapper {
                height: 75px;
            }

            h2,
            span {
                font-size: 28pt;
            }

            .hero-buttons {
                .btn:first-of-type {
                    color: $gold;
                    margin-bottom: 25px;
                }
            }
        }
    }

    #credentials {
        .company-wrapper {
            .company-logos {
                height: 150px;
            }
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    #credentials {
        .company-wrapper {
            .company-logos {
                height: 200px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #credentials {
        .company-wrapper {
            display: block;

            .company-logos {
                display: block;
                margin: auto;
            }
        }
    }

    #info {
        .info-wrapper {
            display: block;
            text-align: center;
        }

        .info-content {
            width: 100%;
        }
    }

    .info-pic {
        margin: auto;
        width: 100% !important;
    }
}

@media only screen and (max-width: 935px) {
    .container {
        padding: 10px 5px;
    }

    #nav {
        .nav-links {
            display: none;
        }

        #mobile-nav {
            align-items: center;
            color: $gold;
            display: flex;
            -webkit-transition: transform 0.25s;
            transition: transform 0.25s;

            &:hover {
                cursor: pointer;
                -webkit-transition: transform 0.25s;
                transition: transform 0.25s;
            }
        }

        .turn {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: transform 0.25s;
            transition: transform 0.25s;
        }

        #mobile-nav-links {
            background-color: $dark-color;
            border-top: 2px lighten($dark-color, 15%) solid;
            display: none;
            position: absolute;
            top: 70px;

            ul {
                list-style-type: none;
                padding: 10px 20px;

                li {
                    color: silver;
                    cursor: pointer;
                    padding: 5px 0;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .cta-text {
                    &:hover {
                        border: 0;
                    }
                }
            }
        }

        .showMenu {
            display: block !important;
            right: 0;
        }
    }

    #hero {
        .hero-content-wrapper {
            text-align: center;
            width: 100%;
        }
    }

    #footer {
        .footer-links,
        .copyright {
            display: block;
        }

        .footer-link-wrapper,
        .copyright-link-wrapper {
            text-align: center !important;
            width: 100% !important;

            &:first-of-type {
                display: block !important;
            }
        }
    }
}
