@import 'universals';

@media only screen and (max-width: 935px) {
  .container {
    padding: 10px 5px;
  }

  #nav {
    .nav-links {
      display: none;
    }

    #mobile-nav {
      align-items: center;
      color: $gold;
      display: flex;
      -webkit-transition: all 0.25s; /* Safari */
      transition: all 0.25s;

      &:hover {
        cursor: pointer;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.25s; /* Safari */
        transition: all 0.25s;
      }
    }

    #mobile-nav-links {
      background-color: $dark-color;
      position: absolute;
      right: 30px;
      top: 60px;

      ul {
        list-style-type: none;
        padding: 10px 20px;

        li {
          color: silver;
          cursor: pointer;
          padding: 5px 0;

          &:hover {
            text-decoration: underline;
          }
        }

        .cta-text {
          &:hover {
            border: 0;
          }
        }
      }
    }

    .addMenu {
      display: block;
    }
  }

  #hero {
    .hero-content-wrapper {
      text-align: center;
      width: 100%;
    }
  }
}
