@import 'universals';

#nav {
  background-color: $dark-color;

  .nav-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .logo {
    text-transform: uppercase;

    h1 a {
      color: #fff;
      letter-spacing: 2.25px;
    }
  }

  .nav-links {
    align-items: center;
    display: flex;
    list-style-type: none;

    li {
      color: #9d9d9d;
      display: inline;
      margin-right: 30px;

      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }

    li:last-of-type {
      margin-right: 0;
    }
  }

  .mobile-nav,
  .mobile-nav-links {
    display: none;
  }
}
