@import 'styles';

#reviews {
  background-image: url('../images/poopybutthole.png');
  background-repeat: repeat;

  h1 {
    font-size: 36pt;
    text-align: center;
  }

  .review-wrapper {
    background-color: #fff;
    border: 1px $dark-blue solid;
    margin: 20px auto;
    width: 75%;
  }

  .review-content {
    margin: auto;
    width: 75%;

    p {
      font-size: 14pt;
      text-align: center;
    }
  }

  .reviewer {
    display: flex;
    justify-content: center;

    img {
      height: 100px;
    }

    p {
      margin: auto 0 auto 20px;
    }
  }
}
