@import 'universals';

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a {
  font-family: $heading-font;
}

p,
a,
span,
ul,
ol,
li,
button {
  font-family: $body-font;
}

a {
  text-decoration: none;
}

/****************************************
                Classes
****************************************/

.container {
  padding: 40px 80px;
}

.btn {
  background-color: transparent;
  border: 2px $gold solid;
  border-radius: 3px;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  padding: 10px;

  &:hover {
    background-color: $gold;
  }

  &:focus {
    outline: none;
  }
}

.big {
  display: table;
  font-size: 16pt !important;
  margin: auto;
  padding: 25px !important;
}

.cta {
  background-color: $gold;
  color: #fff !important;

  &:hover {
    background-color: lighten($gold, 5%);
    border: 2px lighten($gold, 5%) solid;
  }
}

.cta-text {
  color: $gold !important;

  &:hover {
    border-bottom: 2px lighten($gold, 5%) solid;
    border-top: 2px lighten($gold, 5%) solid;
    color: lighten($gold, 5%);
    padding: 7px 0;
  }
}
