/****************************************
                Variables
****************************************/
$heading-font: 'Acme', sans-serif;
$body-font: 'Montserrat', sans-serif;

$dark-color: #333;

/****************************************
                Universals
****************************************/
html,
body {
  margin: 0;
  padding: 0;
}

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a {
  font-family: $heading-font;
}

p,
a,
span,
ul,
ol,
li {
  font-family: $body-font;
}

a {
  text-decoration: none;
}

.container {
  padding: 40px 80px;
}
