/****************************************
                Variables
****************************************/
$heading-font: 'Acme', sans-serif;
$body-font: 'Montserrat', sans-serif;

$dark-color: #333;
$gold: #c79926;

/****************************************
                Universals
****************************************/
html,
body {
  margin: 0;
  padding: 0;
}

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a {
  font-family: $heading-font;
}

p,
a,
span,
ul,
ol,
li,
button {
  font-family: $body-font;
}

a {
  text-decoration: none;
}

/****************************************
                Classes
****************************************/

.container {
  padding: 40px 80px;
}

.btn {
  background-color: transparent;
  border: 2px $gold solid;
  border-radius: 3px;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  padding: 10px;

  &:hover {
    background-color: $gold;
  }
}

.cta {
  background-color: $gold;
  color: #fff !important;

  &:hover {
    background-color: lighten($gold, 5%);
    border: 2px lighten($gold, 5%) solid;
  }
}

.cta-text {
  color: $gold !important;

  &:hover {
    color: lighten($gold, 5%);
  }
}
