/****************************************
                Variables
****************************************/
/****************************************
                Universals
****************************************/
html,
body {
  margin: 0;
  padding: 0; }

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a {
  font-family: "Acme", sans-serif; }

p,
a,
span,
ul,
ol,
li,
button {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

/****************************************
                Classes
****************************************/
.container {
  padding: 40px 80px; }

.btn {
  background-color: transparent;
  border: 2px #c79926 solid;
  border-radius: 3px;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  padding: 10px; }
  .btn:hover {
    background-color: #c79926; }

.big {
  display: table;
  font-size: 16pt !important;
  margin: auto;
  padding: 25px !important; }

.cta {
  background-color: #c79926;
  color: #fff !important; }
  .cta:hover {
    background-color: #d7a72f;
    border: 2px #d7a72f solid; }

.cta-text {
  color: #c79926 !important; }
  .cta-text:hover {
    color: #d7a72f; }

#credentials {
  border-bottom: 1px gray solid; }
  #credentials h3 {
    color: #c79926;
    font-size: 20pt;
    text-align: center; }
  #credentials .company-wrapper {
    display: flex;
    justify-content: space-around; }
    #credentials .company-wrapper .company-logos {
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      height: 100px; }
