#cta {
  background-color: #687d8b; }
  #cta h1 {
    color: #fff;
    font-size: 30pt;
    text-align: center; }
  #cta .cta-btn-wrapper {
    display: flex;
    justify-content: center; }
    #cta .cta-btn-wrapper .cta {
      font-size: 18pt;
      padding: 20px; }
