/****************************************
                Variables
****************************************/
/****************************************
                Universals
****************************************/
html,
body {
  margin: 0;
  padding: 0; }

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a {
  font-family: "Acme", sans-serif; }

p,
a,
span,
ul,
ol,
li,
button {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

/****************************************
                Classes
****************************************/
.container {
  padding: 40px 80px; }

.btn {
  background-color: transparent;
  border: 2px #c79926 solid;
  border-radius: 3px;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  padding: 10px; }
  .btn:hover {
    background-color: #c79926; }
  .btn:focus {
    outline: none; }

.big {
  display: table;
  font-size: 16pt !important;
  margin: auto;
  padding: 25px !important; }

.cta {
  background-color: #c79926;
  color: #fff !important; }
  .cta:hover {
    background-color: #d7a72f;
    border: 2px #d7a72f solid; }

.cta-text {
  color: #c79926 !important; }
  .cta-text:hover {
    border-bottom: 2px #d7a72f solid;
    border-top: 2px #d7a72f solid;
    color: #d7a72f;
    padding: 7px 0; }

#cta {
  background-color: #687d8b; }
  #cta h1 {
    color: #fff;
    font-size: 30pt;
    text-align: center; }
  #cta .cta-btn-wrapper {
    display: flex;
    justify-content: center; }
    #cta .cta-btn-wrapper .cta {
      font-size: 18pt;
      padding: 20px; }
