/****************************************
                Variables
****************************************/
/****************************************
                Universals
****************************************/
html,
body {
  margin: 0;
  padding: 0; }

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a {
  font-family: "Acme", sans-serif; }

p,
a,
span,
ul,
ol,
li,
button {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

/****************************************
                Classes
****************************************/
.container {
  padding: 40px 80px; }

.btn {
  background-color: transparent;
  border: 2px #c79926 solid;
  border-radius: 3px;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  padding: 10px; }
  .btn:hover {
    background-color: #c79926; }
  .btn:focus {
    outline: none; }

.big {
  display: table;
  font-size: 16pt !important;
  margin: auto;
  padding: 25px !important; }

.cta {
  background-color: #c79926;
  color: #fff !important; }
  .cta:hover {
    background-color: #d7a72f;
    border: 2px #d7a72f solid; }

.cta-text {
  color: #c79926 !important; }
  .cta-text:hover {
    border-bottom: 2px #d7a72f solid;
    border-top: 2px #d7a72f solid;
    color: #d7a72f;
    padding: 7px 0; }

#footer {
  background-color: #333;
  color: silver; }
  #footer .footer-links {
    display: flex;
    justify-content: space-between; }
  #footer .footer-link-wrapper {
    width: 19%; }
    #footer .footer-link-wrapper ul {
      list-style-type: none;
      padding-left: 0; }
    #footer .footer-link-wrapper li:hover {
      cursor: pointer;
      text-decoration: underline; }
    #footer .footer-link-wrapper li:first-of-type {
      color: #fff;
      margin-bottom: 10px;
      text-transform: uppercase; }
  #footer .copyright {
    display: flex;
    font-size: 10pt;
    justify-content: space-between; }
    #footer .copyright .copyright-link-wrapper {
      margin-top: 30px;
      width: 50%; }
      #footer .copyright .copyright-link-wrapper a {
        color: silver;
        text-decoration: underline; }
      #footer .copyright .copyright-link-wrapper:first-of-type {
        display: flex; }
      #footer .copyright .copyright-link-wrapper:last-of-type {
        text-align: right; }
