#hero {
  align-items: center;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  height: 500px; }
  #hero .hero-content-wrapper {
    color: #fff;
    width: 50%; }
    #hero .hero-content-wrapper .typed-wrapper {
      height: 50px; }
    #hero .hero-content-wrapper h2,
    #hero .hero-content-wrapper span {
      font-family: "Acme", sans-serif;
      font-size: 32pt; }
    #hero .hero-content-wrapper h2 {
      margin: 0; }
    #hero .hero-content-wrapper p {
      font-size: 18pt; }
