@media only screen and (max-width: 500px) {
  #nav .disappear {
    right: 0px !important; }
  #hero .hero-content-wrapper .typed-wrapper {
    height: 75px; }
  #hero .hero-content-wrapper h2,
  #hero .hero-content-wrapper span {
    font-size: 28pt; }
  #hero .hero-content-wrapper .hero-buttons .btn:first-of-type {
    color: #c79926;
    margin-bottom: 25px; }
  #credentials .company-wrapper .company-logos {
    height: 150px; } }

@media only screen and (min-width: 500px) and (max-width: 800px) {
  #nav .disappear {
    right: 80px !important; }
  #credentials .company-wrapper .company-logos {
    height: 200px; } }

@media only screen and (max-width: 800px) {
  #credentials .company-wrapper {
    display: block; }
    #credentials .company-wrapper .company-logos {
      display: block;
      margin: auto; }
  #info .info-wrapper {
    display: block;
    text-align: center; }
  #info .info-content {
    width: 100%; }
  .info-pic {
    margin: auto;
    width: 100% !important; } }

@media only screen and (max-width: 935px) {
  .container {
    padding: 10px 5px; }
  #nav .nav-links {
    display: none; }
  #nav #mobile-nav {
    align-items: center;
    color: #c79926;
    display: flex;
    -webkit-transition: transform 0.25s;
    /* Safari */
    transition: transform 0.25s; }
    #nav #mobile-nav:hover {
      cursor: pointer;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: transform 0.25s;
      /* Safari */
      transition: transform 0.25s; }
  #nav #mobile-nav-links {
    background-color: #333;
    display: block;
    position: absolute;
    right: -200px;
    top: 60px; }
    #nav #mobile-nav-links ul {
      list-style-type: none;
      padding: 10px 20px; }
      #nav #mobile-nav-links ul li {
        color: silver;
        cursor: pointer;
        padding: 5px 0; }
        #nav #mobile-nav-links ul li:hover {
          text-decoration: underline; }
      #nav #mobile-nav-links ul .cta-text:hover {
        border: 0; }
  #nav .disappear {
    right: 80px; }
  #hero .hero-content-wrapper {
    text-align: center;
    width: 100%; }
  #footer .footer-links,
  #footer .copyright {
    display: block; }
  #footer .footer-link-wrapper,
  #footer .copyright-link-wrapper {
    text-align: center !important;
    width: 100% !important; }
    #footer .footer-link-wrapper:first-of-type,
    #footer .copyright-link-wrapper:first-of-type {
      display: block !important; } }
