/****************************************
                Variables
****************************************/
/****************************************
                Universals
****************************************/
html,
body {
  margin: 0;
  padding: 0; }

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a {
  font-family: "Acme", sans-serif; }

p,
a,
span,
ul,
ol,
li,
button {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

/****************************************
                Classes
****************************************/
.container {
  padding: 40px 80px; }

.btn {
  background-color: transparent;
  border: 2px #c79926 solid;
  border-radius: 3px;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  padding: 10px; }
  .btn:hover {
    background-color: #c79926; }

.big {
  display: table;
  font-size: 16pt !important;
  margin: auto;
  padding: 25px !important; }

.cta {
  background-color: #c79926;
  color: #fff !important; }
  .cta:hover {
    background-color: #d7a72f;
    border: 2px #d7a72f solid; }

.cta-text {
  color: #c79926 !important; }
  .cta-text:hover {
    color: #d7a72f; }

#reviews {
  background-image: url("../images/poopybutthole.png");
  background-repeat: repeat; }
  #reviews h1 {
    font-size: 32pt;
    text-align: center; }
  #reviews .review-wrapper {
    background-color: #fff;
    border: 1px #687d8b solid;
    margin: 20px auto;
    padding: 15px 15px 0;
    width: 60%; }
    #reviews .review-wrapper:last-of-type {
      margin-bottom: 30px; }
  #reviews .review-content {
    margin: auto;
    width: 75%; }
    #reviews .review-content p {
      font-size: 16pt;
      text-align: center; }
  #reviews .reviewer {
    display: flex;
    justify-content: center; }
    #reviews .reviewer img {
      height: 100px; }
    #reviews .reviewer p {
      margin: auto 0 auto 20px; }
